{% extends 'layout/default.html' %}
{% block title %}
    Панель
{% endblock %}
{% block content %}
    <div class="absolute p-1 hidden sm:block">
        <div class="flex flex-col w-48 bg-gray-700 overflow-hidden min-h-[99vh] rounded-md">
            <div class="flex items-center justify-center h-14">
                <h1 class="text-xl uppercase text-gray-200">{{ user.role }}</h1>
            </div>
            <div class="flex flex-col py-4">
                {% for tab in tabs %}
                    <button onclick="switchTab(event, {{ tab.id }})"
                        class="cursor-pointer flex flex-row items-center h-12 transform hover:translate-x-1
                               transition-transform ease-in text-gray-500 hover:text-gray-100"
                        name="tab-link">
                        <span class="ml-6 text-sm font-medium">{{ tab.name }}</span>
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="relative sm:ml-48">
        <header class="top-0 py-1 px-2">
            <div class="bg-gray-700 p-2 text-gray-200 flex items-center justify-between px-8 rounded-md">
                <div class="w-3/12">
                    <div class="bars sm:hidden">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="w-3/12 flex justify-end items-center">
                    <div class="mx-2">
                        <p class="text-sm sm:text-md">{{ user.first_name }} {{ user.last_name }}</p>
                        <p class="-mt-1 text-sm">@{{ user.username }}</p>
                    </div>
                    <img class="inline-block h-10 w-10 rounded-full"
                         src="{{ user.pic }}"
                         alt="profile-pic">
                </div>
            </div>
        </header>
        <div class="p-4 md:px-8 mx-auto text-white overflow-y-auto">
            <div>
                {{ data.cron }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function switchTab(e, tabName) {
            const tabs = document.getElementsByName("tab")
            for (const tab of tabs) {
                tab.style.display = "none"
            }
            const links = document.getElementsByName("tab-link")
            for (const link of links) {
                link.className = link.className.replace(" active", "")
            }
            document.getElementById(tabName).style.display = "block"
            e.currentTarget.className += " active"
        }
    </script>
{% endblock %}
